body {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;

}

.container {
    width: 1024px;


}


/* NEW NAV */
.profile {
    position: relative;
    left: 3.7rem;

}

.logo {
    width: 12.5rem;
    margin-right: 1.7rem;
}

.bg-color {
    background-color: #212837;
}

.nav-item a {
    color: #FEB40A !important;
}

.dropdown-menu .subProfile {
    color: #212837 !important;
}


/* SECTION */
.section {

    background-image: url(images/background-all.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}


.leftCol {
    padding: 12rem 0 0 2rem;
    margin: 0;
}

.areYouReady {
    margin: 0;
    width: 40%;
    font-size: 2.7rem;
    font-weight: lighter;
}

.navWrapper {
    padding: 1rem 1rem 2rem 3rem;
    width: 60%;
    display: flex;

    align-items: center;
}


#v-pills-home-tab,
#v-pills-profile-tab,
#v-pills-messages-tab,
#v-pills-settings-tab {
    background-color: #FEB40A;
    border-radius: 100%;
    padding: 1.5rem 1rem;
    margin: 1rem 0;
    text-align: center;
    border: solid 3px #149767;



    color: #212837;
    font-weight: 300;

}

#v-pills-home-tab {
    border-right: solid 3px white;
}

#v-pills-profile-tab {
    border-bottom: solid 3px white;
}

#v-pills-messages-tab {
    border-left: solid 3px white;
}

#v-pills-settings-tab {
    border-top: solid 3px white;
}

.tab-content {
    background-color: white;
    padding: 1rem;
    margin: 0 0 0 5rem;

}

.btn-primary {
    background-color: #149767;
    outline: none;
    border: none;
}

.btn-primary:hover {
    background-color: #149767;
    outline: none;
    border: none;
}

.btn-primary:focus {
    background-color: #FEB40A;
    outline: none;
    border: none;
}

.cols {
    display: flex;
    justify-content: center;

}


/* MEDIA QUERY */
@media only screen and (max-width: 989px) {
    .navWrapper{
       display: block;

    }
    .nav{
        display: flex;
        flex-direction: row!important;
    }
    .leftCol{
       
    }
    #v-pills-home-tab,
    #v-pills-profile-tab,
    #v-pills-messages-tab,
    #v-pills-settings-tab {
     
        padding: .7rem .5rem;
        margin: 1rem .5rem;
        text-align: center;
        border: solid 3px #149767;
        font-size: .3rem;
    
    }
    .tab-content {
     
        padding: 1rem;
        margin: .2rem 4rem 0 1rem;
    
    }
    .card {
        width: 15rem!important;
    }

}
@media only screen and (max-width: 768px) {
    .navWrapper{
        display: block;
 width: 80%;
     }
     .nav{
         display: flex;
         flex-direction: row!important;
     }
     .leftCol{
        display: none;
     }
     #v-pills-home-tab,
     #v-pills-profile-tab,
     #v-pills-messages-tab,
     #v-pills-settings-tab {
      
         padding: .7rem .5rem;
         margin: 1rem .5rem;
         text-align: center;
         border: solid 3px #149767;
         font-size: .3rem;
     
     }
     .tab-content {
      
         padding: 1rem ;
         margin: .2rem 4rem 0 1rem;
     
     }
     .card {
         width: 15rem!important;
     }
    
}
    

@media only screen and (max-width: 577px) {
    .container{
        width: auto;
    }
    .card {
        width: 13rem!important;
    }
}
