#container1{
    font-family: 'Roboto', sans-serif;
    background-color: #212837;
    height: 100vh;
    width: 100%;
    max-width: 1024px;
    display: grid;
    position: relative;
    margin: 0 auto;
}
#yellowContainer{
    width: 422px;
    height: 422px;
    background-color: #FEB40A;
    border-radius: 50%;
    justify-self: center;
    margin-top: 244px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    position:absolute;
    display: grid;
}
.nav1{
    margin: 0 auto;
    background-color: #212837 !important;
    color:  #FEB40A !important;
}
.btn-group{
    position:absolute;
    justify-self: end;
    margin-right: 10px;
    margin-top: 10px;
}
.btn{
    background-color: #212837 !important;
    color:  #FEB40A !important;  
}
.btn:hover{
    color:  #ffdd8c !important;
    text-decoration: none;
}
.active{
    background-color:  #FEB40A !important;
    color:  #212837 !important;
    font-weight: 600;
}
.active:hover{
    color:  #ffdd8c !important;
    text-decoration: none;
}



.polyglotLogo{
    position:absolute;
    box-shadow: none;
    margin-top: 91px;
justify-self: center;
}
.polyglotLogo img{
    width: 375px;

}
a{
    color: none;
}
h1 a{
    text-decoration: none;
    color:  #FEB40A;
}


.header{
    width: 125px;
    height: 31px;
    color: #212837;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.userName{
    font-size: 1.4em;
    margin-top: 21%;
    margin-left: 18%;
}
.Password{
    font-size: 1.4em;
    margin-top: 34%;
    margin-left: 19%;
}

#yellowContainer a{
    position:absolute;
    text-decoration: none;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
#forgotPass:hover{
    color:  #6bcfaa;
}
#forgotPass:active{
    color:  #85ffd2;
}
#register:hover{
    color:  #6bcfaa;
}
#register:active{
    color:  #85ffd2;
}
#yellowContainer div{
    position:absolute;

}
#yellowContainer input{
    height: 20px;
    width: 125px;
    position:absolute;
}
.input1{
    height: 0px;
    margin-top: 23%;
    margin-left: 53%;
}
.input2{
    margin-top: 36%;
    margin-left: 53%;
}
#signIn {
    width: 151px;
    height: 37px;
    background-color: #318BAC;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    margin-top: 49%;
    margin-left: 32%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}
#signIn:hover{
    color: white;
}
#signIn:active{
    transform: translateY(2px);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    color: white;
}
#signIn span{
    display: inline-block;
}
#forgotPass{
    color: #149767;
    width: 205px;
    height: 18px;
    margin-top: 63%;
    margin-left: 26%;
}
#register{
    color: #149767;
    width: 61px;
    height: 18px;
    margin-top: 71%;
    margin-left: 43%;
}
.footer{
    position: absolute;
    justify-self: center;
    align-self: end;
    color: #FEB40A;
}
.footer a{
    color:  #149767;
}
.footer a:hover{
    color:  #6bcfaa;
    text-decoration: none;
}
.footer a:active{
    color:  #85ffd2;
}

@media only screen and (min-width: 721px) {
    .img{
        height: 67px;
        width: 94px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    }
    .flagsContainer{
        height: 100;
        width: 100%;
        max-width: 1024px;
        display: grid;
    }
    
    .italy{
        position: absolute;
        margin-top: 223px;
        margin-left: 16.7%;
    }
    .japan{
        position: absolute;
        margin-top: 430px;
        margin-left: 6.8%;
    }
    .england{
        position: absolute;
        margin-top: 637px;
        margin-left: 16.7%;
    }
    .france{
        justify-self: end;
        position: absolute;
        margin-top: 223px;
        margin-right: 16.7%;
    }
    .germany{
        justify-self: end;
        position: absolute;
        margin-top: 430px;
        margin-right: 6.8%;
    }
    .china{
        justify-self: end;
        position: absolute;
        margin-top: 637px;
        margin-right: 16.7%;
    }
    }
    
    @media only screen and (max-width: 720px){
    .img{
       height:41px;
       width: 60px;
    }
    .flagsContainer{
        position: absolute;
        height: 41px;
        width: 400px;
        margin-top: 173px;
        display: flex;
        justify-self: center;
        justify-content: space-evenly;
    }
    .italy{
        position:static  ;
    }
    .japan{
        position:static ;
    }
    .england{
        position:static ;
    }
    .france{
        position:static ;
    }
    .germany{
        position: static ;
    }
    .china{
        position: static ;
    }
    }
    
    @media only screen and (max-width:500px){
        .img{
           height:30px;
           width: 45px;
        }
        .flagsContainer{
            position: absolute;
            height: 41px;
            width: 300px;
            margin-top: 173px;
            justify-self: center;
            justify-content: space-evenly;
        }
        
        .italy{
            position:static  ;
        }
        .japan{
            position:static ;
        }
        .england{
            position:static ;
        }
        .france{
            position:static ;
        }
        .germany{
            position: static ;
        }
        .china{
            position: static ;
        }
        #signIn {
            margin-left: 97px;
        }
        #yellowContainer{
            width: 350px;
            height: 350px;
            background-color: #FEB40A;
            border-radius: 50%;
            justify-self: center;
            margin-top: 244px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
            position:absolute;
        }
        }
        @media only screen and (max-width:500px){
            .polyglotLogo img{
                width: 300px;
            
            }   
            
            }